header {
    text-align: center;
    margin: 50px;
    padding: 25px;
    font-size: 60px;
}

.content {
    text-align: center;
    margin:50px;
    border: solid #c7c5c5;
    font-size: 40px;
    border-radius: 20px;
}
input{
    width: 50%;
    height: 25px;
}
button {
    background-color: hsla(249, 41%, 3%, 0.952);
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    color: rgb(226, 227, 220);
    width: 100px;
}
p {
    color: rgb(90, 89, 89);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.answers {
    padding-bottom: 500px;
}
